.card {
    position: relative;
    overflow: hidden;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  .card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el cursor */
  }
  
  .card-buttons {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
  }
  
  .btn-circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-circle:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Cambio de color al pasar el cursor */
  }
  
  .btn-info {
    background-color: #17a2b8;
  }
  
  .btn-danger {
    background-color: #dc3545;
  }
  
  .btn-secondary {
    background-color: #6c757d;
  }
  