.card-buttons {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5); /* Blando */
}

.btn-circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}
