<div class="modal fade" id="editShow" tabindex="-1" aria-labelledby="editShow" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva TV Serie </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="passwordHelpBlock" class="form-text" style="color: red;">
                    {{logs}}
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Título:</label>
                    <input type="text" class="form-control" id="title" name="title" value={{show.title}} required [(ngModel)]="titleInput">
                </div>

                <div class="mb-3">
                    <label for="year" class="form-label">Año:</label>
                    <input type="number" class="form-control" id="year" name="year"  value={{show.year}} [(ngModel)]="yearInput">
                </div>

                <div class="mb-3">
                    <label for="episodes" class="form-label">Episodios:</label>
                    <input type="number" class="form-control" id="episodes" name="episodes"  value={{show.episodes}} required [(ngModel)]="episodesInput">
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">URL de la imagen:</label>
                    <input type="url" class="form-control" id="image" name="image" value={{show.image}} [(ngModel)]="imageInput">
                </div>

                <div class="mb-3">
                    <label for="id" class="form-label">ID:</label>
                    <input type="text" class="form-control" id="id" name="id" required  value={{show.id}} [(ngModel)]="idInput">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" (click)="onClickEdit()" class="btn btn-primary">Agregar </button>
            </div>
        </div>
    </div>
</div>